* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-style: cursive;
    line-height: 1.6;
    background-color: #4ebbed;
    color: #1a1a1a;
    padding: 1.5rem;
}

nav {
    background-color:#8c5dd9 ;
    padding: 1 rem;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-family: serif;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #e7dcf2; 
  border: 2px solid #591a97; 
  width:fit-content
}

nav a:hover {
    background-color: #591a97;
    color: #4b0986;
    border-color: aliceblue;
}

h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: bold;
    color: #1a1a1a;
    margin-bottom: 1rem;
    text-align: center;
}

.category-title {
  display: grid;
  font-family: 'Gill Sans', sans-serif;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  color: #000000; ;
  grid-template-columns: 3rem auto; 
  align-items: center;
  gap: 1rem; 
}

.category-icon {
  width: 3.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
}

ul {
    list-style: disc;
    padding: 0 20px;
    margin: 0 0 2rem 2rem;
}

.category {
  width: 100%;
  border-collapse: collapse; /* merge borders */
  margin: 1rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-style: italic;
  color: #1e1d1d;
  background-color: #047ea0;
  box-shadow: 0 4px 8px rgba(30, 59, 123, 0.1);
}

.category th,
.category td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #100f0f;
}

.category thead { 
  color: #5a0404;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.category tr:hover {
  background-color: #e0d4f7; 
}

p{
    margin: 1rem 0;
    font-size: 1.1rem;
    font-style: italic;
    color: #1a1a1a;
    padding: 1.5rem;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: #f5f3f9; 
}

.video {
  width: 100%;
  height: auto;       
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

@media (max-width: 600px) {
  .video {
    min-height: auto; 
    padding: 1rem;
  }
  
  .video {
    width: 100%; 
  }
}

footer {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #bbb;
}

@media (max-width: 768px) {
  .footer{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}